{% extends 'base.html' %}
{% block content %}
{% load static %}

<section id="home" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 mt-5 order-lg-1 d-flex flex-column justify-content-center">
        <h1>wallsDox</h1>
        <h2>share your quality wallpapers and get quality wallpapers of others.</h2>
        <div class="d-flex">
          {% if user.is_authenticated %}
          <a href="#upload" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#upload">upload</a>
          {% else %}
          <a href="/accounts" class="btn-get-started scrollto">sign in</a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 home-img">
        <img src="{% static 'assets/img/logo.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Upload Modal -->
<div class="modal fade" id="upload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="/" method="post" enctype="multipart/form-data">
          {% csrf_token  %}
          <div class="form-floating mt-3">
            <textarea class="form-control" name="title" placeholder="Put your wallpaper title here" id="title"></textarea>
            <label for="floatingTextarea">Title</label>
          </div>
          <div class="form-floating mt-3">
            <textarea class="form-control" name="description" placeholder="Put your wallpaper description here" id="description" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
          </div>
          <div class="form-floating mt-3">
            <textarea class="form-control" name="tags" placeholder="Put your wallpaper tags here" id="tags"></textarea>
            <label for="floatingTextarea">Tags</label>
          </div>
          <div class="mt-3">
            <label for="formFileLg" class="form-label">Choose your wallpaper</label>
            <input class="form-control form-control-lg" name="image" type="file">
          </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" name="upload" formmethod="post" value="upload" class="btn btn-primary"/>
      </form>
      </div>
    </div>
  </div>
</div>

<main id="main">
  <section id="search">
    <div class="container">
      <div class="search-x">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h3>wallsDox search</h3>
            <p>search and get dope wallpapers</p>
          </div>
        </div>

        <div class="row search-bar justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="search" name="search" placeholder="Search your quality wallpapers"><input type="submit"
                value="search">
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="wallpapers" class="wallpapers">
    <div class="container">
      <div class="row wallpapers-container">
        {% for wallpaper in wallpapers %}
        <div class="col-lg-4 mb-4 col-md-6">
          <img src="{{wallpaper.image.url}}" class="img-fluid" alt="">
        </div>
        {% endfor %}
      </div>
  </section>

  <section id="categories" class="categories section-bg">
    <div class="container">
      <div class="d-flex align-content-center flex-wrap">
        {% for tag in tags %}
        <div class="badge m-2 text-wrap align-self-start" style="width: 6rem; background-color: #16E07D;">
          {{tag.name}}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}